<!DOCTYPE html>
<html>
<head>
    <title>ActionPi Camera</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            padding: 1em;
        }
        .form-group {
            margin: 1em 0;
        }
        .file-list {
            list-style: none;
            padding: 0;
        }
        .file-list li {
            margin: 0.5em 0;
        }
        .thumbnail-container {
            display: flex;
            align-items: center;
        }
        .thumbnail-container img {
            max-width: 100px;
            height: auto;
            margin-right: 10px;
        }
    </style>
    <script>
        function confirmDelete() {
            return confirm('Are you sure you want to delete?');
        }
    </script>
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">ActionPi</h1>
    
        <div class="row">
            <div class="col-md-4">
                <h2>Capture Photo</h2>
                <form method="GET" action="{{ url_for('start_photo_capture', filename='photo.jpg') }}">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Capture Photo">
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <h2>Capture Timelapse</h2>
                <form method="GET" action="{{ url_for('start_timelapse', directory='timelapse1', interval=2, duration=60) }}">
                    <div class="form-group">
                        <label for="interval">Interval (seconds):</label>
                        <input type="number" id="interval" name="interval" class="form-control" min="1" max="3600" value="2">
                    </div>
                    <div class="form-group">
                        <label for="duration">Duration (seconds):</label>
                        <input type="number" id="duration" name="duration" class="form-control" min="1" max="3600" value="60">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Start Timelapse">
                </form>
            </div>
            <div class="col-md-4">
                <h2>Capture Video</h2>
                <form method="GET" action="{{ url_for('start_video_capture', filename='video.h264', duration=60) }}">
                    <div class="form-group">
                        <label for="duration">Duration (seconds):</label>
                        <input type="number" id="duration" name="duration" class="form-control" min="1" max="3600" value="60">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Start Video">
                </form>
            </div>
        </div>

        <hr>

        {% for directory, files in all_files.items() %}
            <h2 class="my-4">{{ directory }}</h2>
            <div class="btn-group mb-2">
                <a href="{{ url_for('download_all', directory=directory) }}" class="btn btn-success">Download All</a>
                <form method="POST" action="{{ url_for('delete_all', directory=directory) }}" onsubmit="return confirmDelete()">
                    <input type="submit" class="btn btn-danger" value="Delete All">
                </form>
            </div>
            <ul class="file-list">
            {% for file in files %}
                <li class="d-flex align-items-center justify-content-between">
                    <div class="thumbnail-container">
                        {% set thumbnail_file = file if file.endswith('.jpg') else (file if directory == 'timelapses' else file.replace('.mp4', '')) %}
                        <a href="{{ url_for('download', filepath=directory+'/'+file) }}">
                            <img src="{{ url_for('get_thumbnail', filepath='thumbnails/' + directory + '/' + thumbnail_file + ('' if file.endswith('.jpg') else '.jpg')) }}" alt="Thumbnail">
                        </a>
                        <a href="{{ url_for('download', filepath=directory+'/'+file) }}">{{ file }}</a>
                    </div>
                    <form method="POST" action="{{ url_for('delete') }}" onsubmit="return confirmDelete()" class="ml-3">
                        <input type="hidden" name="filepath" value="{{ directory+'/'+file }}">
                        <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                    </form>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}

        <!-- Shutdown button -->
        <hr>

        <form method="POST" action="{{ url_for('shutdown') }}" onsubmit="return confirm('Are you sure you want to shutdown?')" class="mb-2">
            <input type="submit" class="btn btn-danger" value="Shutdown">
        </form>
    </div>

    <!-- Bootstrap JavaScript components -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
